body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  display: block;
  width: 100%;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background-color: #003459;

  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: center;

  height: 100px;
  padding: 25px;
}

nav {
  background-color: #003459;
  display: flex;
  height: 65px;
}

input {
  color: black;
}

button {
  cursor: pointer;
}

.nav-tab {
  background-color: #003459;
  border: 0;
  display: table;

  cursor: pointer;

  font-size: 22px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;

  width: 200px;
  height: 100%;
}

.nav-tab:hover {
  background-color: #004f88;
}

.section-header {
  background-color: #003459;
  color: white;

  padding: 15px;
  margin: 0px;
}

.section-subheader {
  color: black;

  font-weight: 700;
  font-size: 24px;

  padding: 10px;
  margin: 0px;
}

.form-label {
  display: inline-block;

  font-weight: bold;

  margin: 5px;
}

.form-box {
  background-color: #D3D3D3;
  border: 1px solid #809AAC;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 15px;

  width: 100%;
  height: 45px;
  padding: 10px;
  margin: 5px;
}

.list-container {
  border-radius: 5px;
  box-sizing: border-box;

  max-height: 100%;
  width: 100%;
  padding: 20px;
}

.list-card {
  border-radius: 5px;
  box-shadow: 1px 1px 3px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;

  cursor: pointer;

  width: auto;
  height: 50px;
  padding: 10px;
  margin: 10px;
  transition: 0.4s ease;
}

.list-card:hover {
  scale: 101%;
}

.list-content {
  display: inline-block;

  cursor: pointer;

  font-weight: 400;
  font-size: 0.8vw;

  padding: 10px;
}


.selected {
  background-color: #004f88;
}

.selected label {
  color: white;
  font-weight: 400;
}

.page-select button{
  background-color: #003459;
  border: none;
  border-radius: 4px;

  width: 24px;
  height: 24px;
  padding: 4px;
  margin: 2px;
}

.page-select button:hover {
  background-color: #004f88;
}

.arrow-button {
  background-color: #003459;
  border-radius: 10px;
  transition-duration: 500ms;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: white;
  font-size: 1em;
  font-weight: bold;

  cursor: pointer;

  height: auto;
  width: auto;
  padding: 15px;
}

.arrow-button:hover {
  background-color: #03528a;
  transition-duration: 500ms;
}

.circle-content {
  height: 100%;
  width: 100%;
}