.admin-nav {
    background-color: white;
}

.admin-nav button {
    height: 25px;
    margin: 5px;
}

.database-panel {
    box-shadow: 0px 0px 5px inset;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    justify-self: center;
    justify-content: space-between;
    
    height: 750px;
    width: 95%;
}

.list-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: auto;
    min-width: 20%;
    margin: 5px;
}

.info-area {
    background-color: #f0f0f0;
    border-radius: 10px;

    height: auto;
    width: 100%;
    margin: 10px;
    padding: 25px;
}

.info-list-area {
    background-color: white;
    box-shadow: 0px 0px 5px inset;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: 40%;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.page-num-center {
    width: 20%;
    margin: 10px;
}

.form-container {
    background-color: white;
    border: 1px solid #809AAC;
    border-radius: 10px;
    box-sizing: border-box;

    position: absolute;
    left: 10px;

    padding: 20px;
}

.input-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
}

.input-line div {
    width: 100%;
    margin: 5px;
}

.search {
    border: solid;
    border-color: black;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-bar {
    margin-left: 0.5rem;
    background-color: white;
    height: 40px;
    width: 85%;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

.search-bar:focus {
    outline: none;
}

.search-bar-icon {
    margin-left: 10px;
    width: 20px;
    height: 100%;
}