.header-wrapper {
    background-color: #003459;
    color: white;
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-wrapper .section-header  {
}

.header-wrapper .logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 125px;
    max-height: 50px;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: background-color 0.4s ease, color 0.4s ease, 0.4s ease;
}

.header-wrapper .logout-button:hover {
    color: #003459;
    background-color: white;
}

.header-wrapper .logout-button:active {
    transform: scale(0.9);
}

.admin-nav {
    position: relative;
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 1rem;
}

.admin-nav button {
    flex: 1;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #666;
    transition: color 0.3s;
}

.admin-nav button:hover {
    color: #003459;
}

.admin-nav .active {
    color: #004f88;
    font-weight: bold;
}

.admin-nav span {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #004f88;
    transition: left 0.3s ease, width 0.3s ease;
}

.database-panel {
    box-shadow: 0px 0px 5px inset;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    justify-self: center;
    justify-content: space-between;
    
    height: 750px;
    width: 95%;
}

.list-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: auto;
    min-width: 20%;
    margin: 5px;
}

.info-area {
    background-color: #f0f0f0;
    border-radius: 10px;

    height: auto;
    width: 100%;
    margin: 10px;
    padding: 25px;
}

.info-list-area {
    background-color: white;
    box-shadow: 0px 0px 5px inset;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: 40%;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.page-num-center {
    width: 20%;
    margin: 10px;
}

.form-container {
    background-color: white;
    border: 1px solid #809AAC;
    border-radius: 10px;
    box-sizing: border-box;

    position: absolute;
    left: 10px;

    padding: 20px;
}

.input-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
}

.input-line div {
    width: 100%;
    margin: 5px;
}

.search {
    border: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-bar {
    margin-left: 0.5rem;
    background-color: white;
    height: 40px;
    width: 85%;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

.search-bar:focus {
    outline: none;
}

.search-bar-icon {
    margin-left: 10px;
    width: 20px;
    height: 100%;
}