.wide-image-text {

  /* Text style */
  font-size: 6em;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px black;

  /* Text position - Do not change */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.account-list{
  background: white;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 3% 15% 3% 15%;
}

.card-text{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.no-accounts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 5% 0 5% 0;
}

.acc-desc {
  background-color: #003459;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
  color: white;

  padding: 2%;

  width: 25%;
  height: 100%;
}